
//Skills related colors
$primary-green: #27ab00;
$secondary-green: #008472;
$primary-pink: #c70092;
$primary-blue-1: #0049c7;
$secondary-blue-1: #5f4dff;
$primary-yellow: #de9d06;

// New colors
$n-primary-white: rgb(245, 245, 245);
$n-primary-dark: #111111;
$n-secondary-dark: #2b2b2b;
$n-primary-gray: #505050;
